<header class="header">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#/" class="logo">
        <!-- <svg class="icon" style="margin-right: 8px">
          <use href="./images/icons.svg#icon-film"></use></svg
        > -->
        <span class="logo-name">ESA</span></a
      >
      <nav class="navigation">
        <ul class="nav-list">
          <li>
            <a href="#/" id="home_btn" class="nav_item nav_item--current"
              >Головна</a
            >
          </li>
          <li>
            <a href="#" id="library_btn" class="nav_item">Продукція</a>
          </li>
          <li>
            <a href="#" id="library_btn" class="nav_item">Види діяльності</a>
          </li>
          <li>
            <a href="#" id="library_btn" class="nav_item">Форма запиту</a>
          </li>
        </ul>
        <ul class="nav-list">
          <li>
            <a>
              <svg
                class="icon"
                id="open_burger_btn"
                style="width: 20px; height: 20px"
              >
                <use href="./images/icons.svg#icon-menu"></use></svg
            ></a>
          </li>
          <!-- <li>
            <a>
              <svg class="icon" id="auth_btn" style="width: 20px; height: 20px">
                <use href="./images/icons.svg#icon-exit"></use></svg
            ></a>
          </li> -->
        </ul>
      </nav>
    </div>
    <!-- Home page part of Header -->
    <!-- <form class="form" id="header-content">
      <input
        type="text"
        id="search-input"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search films..."
      />
      <button type="submit" class="search-button">
        <svg class="icon">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form> -->
    <!-- Library page part of Header -->
    <!-- <ul class="nav_list_button not-visible">
      <li class="nav_button">
        <button id="watched" type="submit" class="button btn_header">
          Watched
        </button>
      </li>
      <li class="nav_button">
        <button id="queue" type="submit" class="button btn_header">
          QUEUE
        </button>
      </li>
    </ul> -->
  </div>
</header>

<!-- <div class="container header__container">
      <a href="./index.html" class="logo"
        >Web<span class="logo__header">Studio</span></a
      >
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="" class="navigation__link navigation__link--current"
              >Студия</a
            >
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Портфолио</a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="contacts-list">
        <li class="contacts-list__item">
          <a href="mailto:info@devstudio.com" class="contacts-list__link"
            ><svg class="contacts-list__icon" width="16" height="12">
              <use href="./images/icons.svg#icon-email"></use></svg
            >info@devstudio.com</a
          >
        </li>
        <li class="contacts-list__item">
          <a href="tel:+380961111111" class="contacts-list__link"
            ><svg class="contacts-list__icon" width="10" height="16">
              <use href="./images/icons.svg#icon-smartphone"></use></svg
            >+38 096 111 11 11</a
          >
        </li>
      </ul>
      <button
        type="button"
        class="menu-toggle is-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use
            class="icon-menu"
            href="./images/icons.svg#icon-menu_40px-1"
          ></use>
        </svg>
      </button>
    </div> -->
