<h2 class="title">Портфолио</h2>
<ul class="portfolio-list">
  <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio_sq_jpg/1/1portfolio_1200_1x.jpg 1x,
              ./images/portfolio_sq_jpg/1/1portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/1/1portfolio_768_1x.jpg 1x,
              ./images/portfolio_sq_jpg/1/1portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/1/1portfolio_480_1x.jpg 1x,
              ./images/portfolio_sq_jpg/1/1portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/portfolio_sq_jpg/1/1portfolio_480_1x.jpg"
            alt="Открытый ноутбук"
            width="450"
          />
        </picture>
        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Технокряк</h3>
        <p class="portfolio-card__describtion">Веб-сайт</p>
      </div>
    </a>
  </li>
  <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio_sq_jpg/2/2portfolio_1200_1x.jpg 1x,
              ./images/portfolio_sq_jpg/2/2portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/2/2portfolio_768_1x.jpg 1x,
              ./images/portfolio_sq_jpg/2/2portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/2/2portfolio_480_1x.jpg 1x,
              ./images/portfolio_sq_jpg/2/2portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/portfolio_sq_jpg/2/2portfolio_480_1x.jpg"
            alt="Постер с баскетболистами"
            width="450"
          />
        </picture>

        <div class="portfolio-card__overlay">
          <p>
            Ресурс предлагает комплексные предложения с разным уровнем
            функционала и сервисов. Все это позволит посетителю получить
            исчерпывающие сведения о компании или частном лице.
          </p>
        </div>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Постер New Orlean vs Golden Star</h3>
        <p class="portfolio-card__describtion">Дизайн</p>
      </div>
    </a>
  </li>
  <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio_sq_jpg/3/3portfolio_1200_1x.jpg 1x,
              ./images/portfolio_sq_jpg/3/3portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/3/3portfolio_768_1x.jpg 1x,
              ./images/portfolio_sq_jpg/3/3portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/3/3portfolio_480_1x.jpg 1x,
              ./images/portfolio_sq_jpg/3/3portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/portfolio_sq_jpg/3/3portfolio_480_1x.jpg"
            alt="Логотип рыбного ресторана"
            width="450"
          />
        </picture>

        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Ресторан Seafood</h3>
        <p class="portfolio-card__describtion">Приложение</p>
      </div>
    </a>
  </li>
  <!-- <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio_sq_jpg/4/4portfolio_1200_1x.jpg 1x,
              ./images/portfolio_sq_jpg/4/4portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/4/4portfolio_768_1x.jpg 1x,
              ./images/portfolio_sq_jpg/4/4portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/4/4portfolio_480_1x.jpg 1x,
              ./images/portfolio_sq_jpg/4/4portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/portfolio_sq_jpg/4/4portfolio_480_1x.jpg"
            alt="Наушники"
            width="450"
          />
        </picture>

        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Проект Prime</h3>
        <p class="portfolio-card__describtion">Маркетинг</p>
      </div>
    </a>
  </li> -->
  <!-- <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio_sq_jpg/5/5portfolio_1200_1x.jpg 1x,
              ./images/portfolio_sq_jpg/5/5portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/5/5portfolio_768_1x.jpg 1x,
              ./images/portfolio_sq_jpg/5/5portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio_sq_jpg/5/5portfolio_480_1x.jpg 1x,
              ./images/portfolio_sq_jpg/5/5portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/portfolio_sq_jpg/5/5portfolio_480_1x.jpg"
            alt="2 коробки"
            width="450"
          />
        </picture>

        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Проект Boxes</h3>
        <p class="portfolio-card__describtion">Приложение</p>
      </div>
    </a>
  </li> -->
  <!-- <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./img/portfolio_sq_jpg/6/6portfolio_1200_1x.jpg 1x,
              ./img/portfolio_sq_jpg/6/6portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/6/6portfolio_768_1x.jpg 1x,
              ./img/portfolio_sq_jpg/6/6portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/6/6portfolio_480_1x.jpg 1x,
              ./img/portfolio_sq_jpg/6/6portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/portfolio_sq_jpg/6/6portfolio_480_1x.jpg"
            alt="Монитор"
            width="450"
          />
        </picture>

        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Inspiration has no Borders</h3>
        <p class="portfolio-card__describtion">Веб-сайт</p>
      </div>
    </a>
  </li>
  <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./img/portfolio_sq_jpg/7/7portfolio_1200_1x.jpg 1x,
              ./img/portfolio_sq_jpg/7/7portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/7/7portfolio_768_1x.jpg 1x,
              ./img/portfolio_sq_jpg/7/7portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/7/7portfolio_480_1x.jpg 1x,
              ./img/portfolio_sq_jpg/7/7portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/portfolio_sq_jpg/7/7portfolio_480_1x.jpg"
            alt="Книга"
            width="450"
          />
        </picture>

        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Издание Limited Edition</h3>
        <p class="portfolio-card__describtion">Дизайн</p>
      </div>
    </a>
  </li>
  <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./img/portfolio_sq_jpg/8/8portfolio_1200_1x.jpg 1x,
              ./img/portfolio_sq_jpg/8/8portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/8/8portfolio_768_1x.jpg 1x,
              ./img/portfolio_sq_jpg/8/8portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/8/8portfolio_480_1x.jpg 1x,
              ./img/portfolio_sq_jpg/8/8portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/portfolio_sq_jpg/8/8portfolio_480_1x.jpg"
            alt="Бирка"
            width="450"
          />
        </picture>

        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Проект LAB</h3>
        <p class="portfolio-card__describtion">Маркетинг</p>
      </div>
    </a>
  </li>
  <li class="portfolio-card">
    <a href="" class="portfolio-card__link">
      <div class="portfolio-card__thumb">
        <picture>
          <source
            srcset="
              ./img/portfolio_sq_jpg/9/9portfolio_1200_1x.jpg 1x,
              ./img/portfolio_sq_jpg/9/9portfolio_1200_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/9/9portfolio_768_1x.jpg 1x,
              ./img/portfolio_sq_jpg/9/9portfolio_768_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/portfolio_sq_jpg/9/9portfolio_480_1x.jpg 1x,
              ./img/portfolio_sq_jpg/9/9portfolio_480_2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/portfolio_sq_jpg/9/9portfolio_480_1x.jpg"
            alt="Работа на ноутбуке"
            width="450"
          />
        </picture>
        <p class="portfolio-card__overlay">
          Ресурс предлагает комплексные предложения с разным уровнем функционала
          и сервисов. Все это позволит посетителю получить исчерпывающие
          сведения о компании или частном лице.
        </p>
      </div>
      <div class="portfolio-card__info">
        <h3 class="portfolio-card__title">Growing Business</h3>
        <p class="portfolio-card__describtion">Приложение</p>
      </div>
    </a>
  </li> -->
</ul>
