<!-- Projects -->
<section class="section--no-padding">
  <div class="container">
    <h2 class="title">Чем мы занимаемся</h2>
    <ul class="project-list">
      <li class="project-list__item">
        <div class="project-list__overlay">
          <img
            srcset="
              ./images/index_sq_jpg/Box/box1_1x.jpg 1x,
              ./images/index_sq_jpg/Box/box1_2x.jpg 2x
            "
            src="./images/index_sq_jpg/Box/box1_1x.jpg"
            alt="Верстаємо сайт"
            width="370"
          />
          <p class="project-list__description">Десктопные приложения</p>
        </div>
      </li>
      <li class="project-list__item">
        <div class="project-list__overlay">
          <img
            srcset="
              ./images/index_sq_jpg/Box/box2_1x.jpg 1x,
              ./images/index_sq_jpg/Box/box2_2x.jpg 2x
            "
            src="./images/index_sq_jpg/Box/box2_1x.jpg"
            alt="Адаптуємо під моб версію"
            width="370"
          />
          <p class="project-list__description">Мобильные приложения</p>
        </div>
      </li>
      <li class="project-list__item">
        <div class="project-list__overlay">
          <img
            srcset="
              ./images/index_sq_jpg/Box/box3_1x.jpg 1x,
              ./images/index_sq_jpg/Box/box3_2x.jpg 2x
            "
            src="./images/index_sq_jpg/Box/box3_1x.jpg"
            alt="Стилізуємо сайт"
            width="370"
          />
          <p class="project-list__description">Дизайнерские решения</p>
        </div>
      </li>
    </ul>
  </div>
</section>
